@import "reset.css";

html {
  overflow-y: hidden;
}

body {
  height: 100vh;
  min-height: 100vh;
  overflow-x: scroll;
  background-color: #000000;
}

/* 27:20:55:10 */
h1 {
  position: fixed;
  left: 60px;
  top: -20px;
  font-family: Jazz Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 385px;
  color: #FFFFFF;
  z-index: 1;
}

/* ЖИРАФ */
h2 {
  position: fixed;
  left: 67px;
  top: 365px;
  font-size: 330px;
  letter-spacing: -0.04em;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  color: #FFFFFF;
  z-index: 1;
}

/* НА ЧАС */
h3 {
  position: fixed;
  left: 40px;
  top: 725px;
  font-size: 330px;
  letter-spacing: -0.03em;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  color: #FFFFFF;
  z-index: 1;
}

/* ТУСОВКА 25.03.2020 ЖЕЛТАЯ Д.88 */
p {
  position: fixed;
  width: 296px;
  height: 263.01px;
  right: 66px;
  top: 415px;
  font-size: 57px;
  font-style: normal;
  font-variant: normal;
  line-height: 116.52%;
  color: #FFFFFF;
  z-index: 1;
}

/* .telo {
  position: relative;
  top: -16px;
  z-index: 100;
} */

.logo {
  position: fixed;
  width: 296px;
  height: 267.71px;
  left: 1590px;
  top: 744.64px;
}

@media (max-width: 1920px) {

  /* 27:20:55:10 */
  h1 {
    position: fixed;
    left: 60px;
    top: -50px;
    font-family: Jazz Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 385px;
    color: #FFFFFF;
    z-index: 1;
  }

  /* ЖИРАФ */
  h2 {
    position: fixed;
    left: 67px;
    top: 305px;
    font-size: 330px;
    letter-spacing: -0.04em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    color: #FFFFFF;
    z-index: 1;
  }

  /* НА ЧАС */
  h3 {
    position: fixed;
    left: 40px;
    top: 635px;
    font-size: 330px;
    letter-spacing: -0.03em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    color: #FFFFFF;
    z-index: 1;
  }

  /* ТУСОВКА 25.03.2020 ЖЕЛТАЯ Д.88 */
  p {
    position: fixed;
    width: 296px;
    height: 263.01px;
    right: 66px;
    top: 350px;
    font-size: 57px;
    font-style: normal;
    font-variant: normal;
    line-height: 116.52%;
    color: #FFFFFF;
    z-index: 1;
  }
}

@media (max-width: 1680px) {

  /* 27:20:55:10 */
  h1 {
    position: fixed;
    left: 60px;
    top: -10px;
    font-family: Jazz Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 330px;
  }

  /* ЖИРАФ */
  h2 {
    position: fixed;
    left: 67px;
    top: 365px;
    font-size: 290px;
    letter-spacing: -0.04em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
  }

  /* НА ЧАС */
  h3 {
    position: fixed;
    left: 50px;
    top: 725px;
    font-size: 290px;
    letter-spacing: -0.03em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
  }

  /* ТУСОВКА 25.03.2020 ЖЕЛТАЯ Д.88 */
  p {
    position: fixed;
    width: 220px;
    height: 260px;
    right: 110px;
    top: 400px;
    font-size: 50px;
    font-style: normal;
    font-variant: normal;
    line-height: 116.52%;
  }
}


@media (max-width: 1440px) {

  /* 27:20:55:10 */
  h1 {
    position: fixed;
    left: 60px;
    top: 10px;
    font-family: Jazz Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 280px;
  }

  /* ЖИРАФ */
  h2 {
    position: fixed;
    left: 67px;
    top: 320px;
    font-size: 250px;
    letter-spacing: -0.04em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
  }

  /* НА ЧАС */
  h3 {
    position: fixed;
    left: 50px;
    top: 615px;
    font-size: 250px;
    letter-spacing: -0.03em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
  }

  /* ТУСОВКА 25.03.2020 ЖЕЛТАЯ Д.88 */
  p {
    position: fixed;
    width: 206px;
    height: 190px;
    right: 80px;
    top: 360px;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    line-height: 116.52%;
  }
}


@media (max-width: 1366px) {

  /* 27:20:55:10 */
  h1 {
    position: fixed;
    left: 40px;
    top: 0px;
    font-family: Jazz Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 250px;
    letter-spacing: 0.05em;
  }

  /* ЖИРАФ */
  h2 {
    position: fixed;
    left: 50px;
    top: 280px;
    font-size: 230px;
    letter-spacing: -0.04em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
  }

  /* НА ЧАС */
  h3 {
    position: fixed;
    left: 35px;
    top: 510px;
    font-size: 230px;
    letter-spacing: -0.03em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
  }

  /* ТУСОВКА 25.03.2020 ЖЕЛТАЯ Д.88 */
  p {
    position: fixed;
    width: 206px;
    height: 190px;
    right: 30px;
    top: 310px;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    line-height: 116.52%;
  }
}


@media (max-width: 1280px) {

  /* 27:20:55:10 */
  h1 {
    position: fixed;
    left: 30px;
    top: 0px;
    font-family: Jazz Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 250px;
    letter-spacing: 0.02em;
  }

  /* ЖИРАФ */
  h2 {
    position: fixed;
    left: 35px;
    top: 260px;
    font-size: 230px;
    letter-spacing: -0.04em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
  }

  /* НА ЧАС */
  h3 {
    position: fixed;
    left: 22px;
    top: 505px;
    font-size: 230px;
    letter-spacing: -0.03em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
  }

  /* ТУСОВКА 25.03.2020 ЖЕЛТАЯ Д.88 */
  p {
    position: fixed;
    width: 206px;
    height: 190px;
    right: 25px;
    top: 288px;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    line-height: 116.52%;
  }
}

@media (max-width: 1024px) {

  /* 27:20:55:10 */
  h1 {
    position: fixed;
    height: 1024px;
    width: 500px;
    left: 30px;
    top: 0px;
    font-family: Jazz Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 195px;
    letter-spacing: 0.02em;
  }

  /* ЖИРАФ */
  h2 {
    position: fixed;
    left: 35px;
    top: 285px;
    font-size: 175px;
    letter-spacing: -0.04em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
  }

  /* НА ЧАС */
  h3 {
    position: fixed;
    left: 22px;
    top: 565px;
    font-size: 175px;
    letter-spacing: -0.03em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
  }

  /* ТУСОВКА 25.03.2020 ЖЕЛТАЯ Д.88 */
  p {
    position: fixed;
    width: 160px;
    height: 190px;
    right: 40px;
    top: 310px;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    line-height: 116.52%;
  }
}





@media (max-width: 768px) {

  /* 27:20:55:10 */
  h4 {
    position: fixed;
    left: 30px;
    top: 20px;
    font-family: Jazz Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 265px;
    line-height: 71%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }

  /* ЖИРАФ */
  h2 {
    position: fixed;
    left: 35px;
    top: 700px;
    font-size: 170px;
    letter-spacing: -0.04em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
  }

  /* НА ЧАС */
  h3 {
    position: fixed;
    left: 22px;
    top: 835px;
    font-size: 170px;
    letter-spacing: -0.03em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
  }

  /* ТУСОВКА 25.03.2020 ЖЕЛТАЯ Д.88 */
  p {
    position: fixed;
    width: 160px;
    height: 190px;
    right: 205px;
    top: 470px;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    line-height: 116.52%;
  }

  h1 {
    display: none;
  }
}

@media (max-width: 414px) {

  /* 27:20:55:10 */
  h5 {
    position: fixed;
    left: 20px;
    top: 10px;
    font-family: Jazz Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 200px;
    line-height: 71%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }

  /* ЖИРАФ */
  h2 {
    position: fixed;
    left: 24px;
    top: 574px;
    font-size: 80px;
    letter-spacing: -0.04em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
  }

  /* НА ЧАС */
  h3 {
    position: fixed;
    left: 19px;
    top: 640px;
    font-size: 80px;
    letter-spacing: -0.03em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
  }

  /* ТУСОВКА 25.03.2020 ЖЕЛТАЯ Д.88 */
  p {
    position: fixed;
    width: 139px;
    height: 115px;
    left: 193px;
    top: 449px;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    line-height: 116.52%;
  }

  h1 {
    display: none;
  }

  h4 {
    display: none;
  }
}

@media (max-width: 375px) {

  /* 27:20:55:10 */
  h5 {
    position: fixed;
    left: 20px;
    top: 10px;
    font-family: Jazz Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 220px;
    line-height: 71%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }

  /* ЖИРАФ */
  h2 {
    position: fixed;
    left: 24px;
    top: 640px;
    font-size: 80px;
    letter-spacing: -0.04em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
  }

  /* НА ЧАС */
  h3 {
    position: fixed;
    left: 19px;
    top: 710px;
    font-size: 80px;
    letter-spacing: -0.03em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
  }

  /* ТУСОВКА 25.03.2020 ЖЕЛТАЯ Д.88 */
  p {
    position: fixed;
    width: 139px;
    height: 115px;
    left: 211px;
    top: 498px;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    line-height: 116.52%;
  }

  h1 {
    display: none;
  }

  h4 {
    display: none;
  }
}


@media (max-width: 320px) {

  /* 27:20:55:10 */
  h5 {
    position: fixed;
    left: 10px;
    top: 10px;
    font-family: Jazz Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    line-height: 71%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }

  /* ЖИРАФ */
  h2 {
    position: fixed;
    left: 14px;
    top: 433px;
    font-size: 70px;
    letter-spacing: -0.04em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
  }

  /* НА ЧАС */
  h3 {
    position: fixed;
    left: 10px;
    top: 490px;
    font-size: 70px;
    letter-spacing: -0.03em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
  }

  /* ТУСОВКА 25.03.2020 ЖЕЛТАЯ Д.88 */
  p {
    position: fixed;
    width: 119px;
    height: 115px;
    left: 141px;
    top: 337px;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    line-height: 116.52%;
  }

  h1 {
    display: none;
  }

  h4 {
    display: none;
  }
}

/* ;;; */
