/* 27:20:55:10 */
h1 {
  position: fixed;
  left: 60px;
  top: -50px;
  font-family: Jazz Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 385px;
  color: #FFFFFF;
  z-index: 1;
}

/* ЖИРАФ */
h2 {
  position: fixed;
  left: 67px;
  top: 365px;
  font-size: 330px;
  letter-spacing: -0.04em;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  color: #FFFFFF;
  z-index: 1;
}

/* НА ЧАС */
h3 {
  position: fixed;
  left: 40px;
  top: 725px;
  font-size: 330px;
  letter-spacing: -0.03em;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  color: #FFFFFF;
  z-index: 1;
}

/* ТУСОВКА 25.03.2020 ЖЕЛТАЯ Д.88 */
p {
  position: fixed;
  width: 296px;
  height: 263px;
  left: 1560px;
  top: 415px;
  font-size: 57px;
  font-style: normal;
  font-variant: normal;
  line-height: 116.52%;
  color: #FFFFFF;
  z-index: 1;
}

.telo {
  position: absolute;
  width: 4585px;
  height: 943px;
  left: 25px;
  top: 55px;
  z-index: 2;
}
